
HelloVisualWorld/.vs/HelloVisualWorld/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.exe
HelloVisualWorld/HelloVisualWorld/bin/Debug/HelloVisualWorld.exe.config
*.pdb
*.cache
HelloVisualWorld/HelloVisualWorld/obj/Debug/HelloVisualWorld.csproj.FileListAbsolute.txt
HelloVisualWorld/HelloVisualWorld/obj/Debug/HelloVisualWorld.Properties.Resources.resources
CarRentalInteractiveGUI/.vs/CarRentalInteractiveGUI/v16/.suo
CarRentalInteractiveGUI/CarRentalInteractiveGUI/obj/Debug/CarRentalInteractiveGUI.CarRentalInteractiveGUI.resources
CarRentalInteractiveGUI/CarRentalInteractiveGUI/obj/Debug/CarRentalInteractiveGUI.csproj.FileListAbsolute.txt
CarRentalInteractiveGUI/CarRentalInteractiveGUI/obj/Debug/CarRentalInteractiveGUI.Properties.Resources.resources
EggInteractiveGUI/.vs/EggInteractiveGUI/v16/.suo
EggInteractiveGUI/EggInteractiveGUI/obj/Debug/EggInteractiveGUI.Properties.Resources.resources
EggInteractiveGUI/EggInteractiveGUI/obj/Debug/EggInteractiveGUI.csproj.FileListAbsolute.txt
EggInteractiveGUI/EggInteractiveGUI/obj/Debug/EggInteractiveGUI.EggInteractiveGUI.resources
EggInteractiveGUI/EggInteractiveGUI/bin/Debug/EggInteractiveGUI.exe.config
